body {
    background-color:#E9E9E9;
    font-family: Arial,sans-serif;

}

.data {
    background-color:white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 35px;
    padding-right: 35px;
    margin-bottom: 10px;

}
.column-center {
    width:600px;
    margin:0 auto;
}

h2 {
    color: #AFB2B5;
    margin-top: 0;
    margin-bottom: 0;

}

h3 {
    color: #434649;
}

h4{
    color: #66696A;
}

h5{
    color: #66696A;
}

p {
    color: #333;
}